* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #252525;
}

.app {
  width: 80%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.item {
  font-size: 69px;
  text-align: center;
  background-color: #fff;
  border: 1px solid black;
}
